.Featured-Container {
  background-color: #f0f0f0;
}
.feature-text {
  color: #861802;
  letter-spacing: 5px;
}
.card {
  height: 500px !important;
  text-align: center;
  cursor: pointer;
}
.features-title{
  height: 70px !important;

}


.btnFEATURED {
  border: #861802 !important;
  background-color: #861802 !important;
}

.btnFEATURED:hover {
  background-color: #da310f !important;
  transform: scale(1.1);
  transition: all 0.5s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.quickView {
  text-align: center;
  /* padding: 8px; */
  font-size: 20px !important;
  font-weight: 700;
  color: #fff;
  background-color: rgba(87, 25, 25, 0.6);
  position: absolute;
  bottom: 30%;
  opacity: 0;
  width: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.card:hover .quickView {
  opacity: 1;
  bottom: 36.5%;
}





@media screen and (max-width: 1200px) and (min-width: 990px) {
  .Featured-col {
    width: 30% !important;
  }
  .widthImage {
    width: 80% !important;
  }
  .card:hover .quickView {
    bottom: 36.5%;
  }
}

@media screen and (max-width: 990px) and (min-width: 700px) {
  .widthImage {
    width: 70% !important;
  }
  .Featured-col {
    width: 50% !important;
  }
  .card:hover .quickView {
    bottom: 36.5%;
  }
}
/* ================================================================== */
@media screen and (max-width: 700px) and (min-width: 500px) {
  .Featured-col {
    width: 60% !important;
  }
  .widthImage {
    width: 80% !important;
  }
  .card:hover .quickView {
    bottom: 36.5%;
  }
}
/* //================================= */
@media screen and (max-width: 400px) {
  .Featured-Container {
    padding: 10px !important;
  }
  .widthImage {
    width: 80% !important;
  }
  .feature-text {
    letter-spacing: 0px;
  }
  .card:hover .quickView {
    bottom: 36.5%;
  }
}
