.viewContainer {
  padding: 50px;
}

.imageViewCart {
  max-height: 600px !important;
  border-radius: 25px;
  padding: 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.btnColor {
  color: rgb(255, 255, 255) !important;
  background-color: brown !important;
}
.imageSubCategory {
  width: 80%;
  border-radius: 25px;
  padding: 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.CartContent {
  font-weight: 500;
  font-size: 20px;
}

.widthSelectAndQnt {
  width: fit-content !important;
}
/* ================================================================== */

