.NavContainer{
  margin-bottom: 100px;
}
.navbar-expand-lg {
  position: fixed !important;
  top: 0px;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 999;
  background-color: #fff !important;
}

.nav-link {
  margin-left: 20px;
  color: #000000 !important;
  font-weight: bold;
  font-size: 15px !important;
}
.nav-link:hover {
  color: #a67a4b !important;
}
.logo {
  line-height: 0px !important;
  font-weight: bold;
}

.navbar-brand img {
  margin-left: 50px;
}
.iconCart {
  cursor: pointer;
}
.zeroNav {
  position: absolute;
  left: 0px;
  top: 16px;
  color: #9a351e !important;
  cursor: pointer;
}
.UpZeroNav{
  position: absolute;
  left: -2px;
  top: 20px;
  color: #9a351e !important;
  cursor: pointer;
}
.moreThan99{
  position: absolute;
  left: -2px;
  top: 30px;
  color: #9a351e !important;
  cursor: pointer;
}

.upBS{
  font-size: 35px;
}
@media screen and (max-width: 990px) {
  .navbar-expand-lg {
    height: fit-content;
  }
  #navbar-button {
    background-color: #a12b10;
    margin-right: 15px;
  }
  .upBS{
    font-size: 35px !important;
  }
  .UpZeroNav{
    top: 20px;
    left: -4px;
    font-size: 10px !important;
  }
  /* ==================== */
  .zeroNav{
    top: 17px;
  }
  .moreThan99{
    top: 30px;
    left: -1px;
  }
}
