
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Varela+Round&display=swap");

body {
  background-color: #ffffff;
  font-family: "Varela Round", sans-serif !important;
}


/* ----------------------------------End NavBar-------------- */
.side {
  position: fixed !important;
  right: -350px;
  width: 350px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  z-index: 999 !important;
  color: #000;
  overflow: scroll;
}
.sahmIcon {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  left: 5px;
  bottom: 15px;
}
.texetSideCart {
  color: #fff;
  background-color: #000;
}
.divBtnCart {
  font-size: 14px;
  background-color: #f0f0f0;
  color: #000;
  border: 5px solid #f0f0f0;
  border-radius: 10px;
}
.b-Cart {
  border: none;
  border-radius: 30px;
  color: #959391 !important;
  padding: 0px 8px;
}
.b-Cart:hover {
  border-radius: 30px;
  transform: scale(1.1);
  color: #0c0b0a !important;
}
.foterSideCart {
  padding: 7px;
}
.trachCart i {
  color: rgb(209, 60, 60);
  margin: 15px 0px 0px 20px;
  cursor: pointer;
}
/* --------------------------End SideBar----------------------------------------------------------------- */

/* ------------------------------------------------------------ */

/* =================================== */


/* ====================================================================== */

/* ================================================================== */

/* ================================================================== */
.footer-container {
  height: 400px;
}
.liftUl {
  color: #4e4842;
  line-height: 2em;
}
.foterPages {
  text-decoration: none !important;
  color: #4e4842 !important;
}
.foterPages:hover {
  color: #d03b19 !important;
}
.Btnfotter {
  border: none !important;
  background-color: #f0f0f0 !important;
}
.Btnfotter:hover {
  color: #fbf9f9 !important;
  background-color: #a67a4b !important;
  transition: all 0.5s;
}
.liftUl i,
.foterPages {
  cursor: pointer;
}

.smallDiv {
  text-align: right;
  color: #a67a4b;
}
/* ================================================================= */

.mx-height-Store {
  min-height: 50px;
}
.cadrStore {
  min-height: 500px;
}

/* ============================================================ */
.marginTopAbout {
  margin-top: 130px;
}
.pragraphAbote {
  color: #f0f0f0 !important;
}
.colPragraph {
  padding: 40px;
  margin: 50px 0px 0px 50px;
}

.ColImg {
  background-image: url(./Components/images/blog.png);
  background-attachment: fixed;
  height: 100vh;
}
.rowAbout {
  background: #222a31 !important;
}
/* ======================================================= */
.viweCart {
  margin-top: 150px;
}
.fa-trash-can {
  cursor: pointer;
}
.bothTrashNum {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
